DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# For CSRF behind a domain/IP (add your server URL here)
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost

# Set to 1 if you want Django to trust X-Forwarded-Host from your proxy
DJANGO_USE_X_FORWARDED_HOST=0

# External API
YILDIZTOP_API_BASE=https://yildiztop.com/api


